BASE16_SHELL="$HOME/.local/share/base16-manager/chriskempson/base16-shell/"
[ -n "$PS1" ] && \
    [ -s "$BASE16_SHELL/profile_helper.sh" ] && \
        eval "$("$BASE16_SHELL/profile_helper.sh")"

# Golang
export PATH=/usr/local/go/bin:$PATH
export PATH=$(go env GOPATH)/bin:$PATH

# TODO: pyenv and nvm slow here..shouldn't even init here..

# Python
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init --no-rehash - zsh)"

# Rust
export PATH="$HOME/.cargo/bin:$PATH"

# Misc
export PATH="$HOME/bin:$PATH"
export PATH="/opt/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
