[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "zsh/.zsh/repos/ohmyzsh"]
	path = zsh/.zsh/repos/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "zsh/.zsh/repos/z"]
	path = zsh/.zsh/repos/z
	url = https://github.com/agkozak/zsh-z.git
[submodule "zsh/.zsh/repos/zsh-history-substring-search"]
	path = zsh/.zsh/repos/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/.zsh/repos/zsh-autosuggestions"]
	path = zsh/.zsh/repos/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
