configuration {
	m: "-5"; /* has to be a string */
    dpi: -1;
    lines: 15;
    location: 0;
    fullscreen: false;
    hide-scrollbar: true;
	case-sensitive: false;
}

/* added via base16-manager (theme.rasi) */
@import "theme"
